// Place all the styles related to the tv_shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*.contenedor {
display: flex;
justify-content: flex-container;
align-items: baseline;
flex-wrap: wrap;
}
*/

/*modifica el header*/
*{font-family: Garamond, serif;
}
body{
    margin: 0px;
    background-color: #0096f461;
}
header {
  background-image: url('fondo 3.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    border-radius: 500px;
    background-repeat: no-repeat;
    width: auto;
}
header img {
    width: auto;
    height:300px;
    border-radius:150px;
    border: 5px white dotted;
}
h1 {
text-decoration: overline underline white dotted 10px;
}
ol {
    background-color: rgba(255, 255, 255, 0.393);
    display: flex;
    align-items:flex-start;
    flex-flow: column wrap;
    font-weight: bold;
    color: black;
}
/*se modifica el nav*/
nav {
    background-color: rgba(0, 134, 51, 0.245);
    height: 100px;
    padding: 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: all 400ms ease-out;
    border-radius: 500px;
    border: 2px black solid;


}
.a{
    width: auto;
    height: auto;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items:flex-start;
    flex-flow: column wrap;
    font-weight: bold;

}
nav a:hover{
  transform: scale(1.1);
  background-color: rgb(5, 168, 68);
  border-radius: 20px;
  text-transform: uppercase;
  border: 4px #fff dotted;

}


article {
    background-color: #fff;
    width: 1300px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 50px;
    border-radius: 50px;
    border: 2px black solid;


}
/*se modifica la seccion academicos*/
.seccionextra {
    background-color: #fff;
    width: 1000px;
    height: 500px;
    padding: 100px;
    text-align: center;
    display: flex;
    align-items:flex-start;
    flex-flow: column wrap;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 50px;
    border: 2px black solid;
}
.seccion1 {
  background-color: #fff;
  width: 1000px;
  height: 800px;
  padding: 100px;
  text-align: center;
  display: flex;
  align-items:flex-start;
  flex-flow: column wrap;
  font-weight: bold;
  border-radius: 50px;
  margin-bottom: 50px;
  border: 2px black solid;


}



/*se modifica la seccion laborales*/
.seccion2{
  background-color: #fff;
  width: 1000px;
  height: 1500px;
  padding: 100px;
  border-radius: 50px;
  margin-bottom: 50px;
  border: 2px black solid;


}
p {
    padding: 10px;
    color: #011140;
}

h3{
    color: #011140
        ;
}

/* seccion descargas*/

.seccion3{
    background-color: #fff;
    width: 1000px;
    height: 500px;
    padding: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
    border: 2px black solid;

}


/*crear la descarga del archivo*/


/*crear el footer*/
footer{
    background-color: #fff;
    width: auto;
    height: 50px;
    padding: 100px;
    border: 2px black solid;


}
